GROQ_API_KEY=""
GROQ_MODEL="llama-3.3-70b-versatile"
AUTH_SECRET=""
AUTH_BASE_URL="http://127.0.0.1:5001/clinvara-f6235/asia-south1/api"
FRONTEND_BASE_URL="http://127.0.0.1:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
ALLOWED_ORIGINS="http://127.0.0.1:3000,http://localhost:3000"
INSTAGRAM_ACCESS_TOKEN=""
YOUTUBE_API_KEY=""
YOUTUBE_CHANNEL_ID="UCi5HxfxaBwjAGqXEbWT_QYQ"
THREADS_ACCESS_TOKEN=""
THREADS_USER_ID="27341858908836757"
